[Unit]
Description=Speedtest Service
After=multi-user.target

[Service]
Type=simple
ExecStartPre=cd /usr/speedtest
ExecStartPre=/venv/bin/activate
ExecStart=python3 main.py

[Install]
WantedBy=multi-user.target